<div class="select_tag_cover">
    <article class="feature1">
      <input type="checkbox" name="amenities" value="running water"  id="feature1"/>
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
          running water
        </span>
      </div>
    </article>

    <article class="feature3">
      <input type="checkbox" name="amenities" value="solar" id="feature3"/>
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
         solar
        </span>
      </div>
    </article>
    
    <article class="feature4">
      <input type="checkbox"  name="amenities" value="kitchen"  id="feature11" />
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
          kitchen
        </span>
      </div>
    </article>
    
    <article class="feature6">
      <input type="checkbox"  name="amenities" value="well" id="feature6"/>
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
        well
        </span>
      </div>
    </article>
    
    <article class="feature8">
      <input type="radio" name="amenities" value="Meter" id="feature8"/>
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
        Meter
        </span>
      </div>
    </article>

    <article class="feature4">
      <input type="checkbox"  name="amenities" value="toilet & bathroom"  id="feature10" />
      <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
        <span class="ps-1">
          toilet&Bathroom
        </span>
      </div>
    </article>

    <article class="feature5">
        <input type="checkbox" name="amenities" value="corridor" id="feature5" />
        <div>
        <i class="fa-solid fa-plus"></i>
        <i class="fa-solid fa-check"></i>
          <span class="ps-1">
            corridor
          </span>
        </div>
      </article>

      <article class="featur07">
        <input type="radio" name="amenities" value="prepaid-Meter" id="featur07"/>
        <div>
          <i class="fa-solid fa-plus"></i>
          <i class="fa-solid fa-check"></i>
          <span class="ps-1">
            Prepaid-Meter
          </span>
        </div>
      </article>

    <!-- give sectors part of the select element like the same name and filter  them into the right db space/prop -->
</div>