<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Roomate Space </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">

        <!-- meta tags -->
        <meta name="author" content="AZUKA CHUKWUEBUKA STANLEY" />
        <meta name="keywords" content="roomate, unizik housing, unizik, lodges, unizik roomate, nnamdi azikiwe university">
        <meta name="description" content="Find the best roomate for your kids in unizik or anyone one moving into awka, go scroll through our site and pick the house that best fit your needs">    
        <meta name="twitter" content="stainlezzking">
        <!--  -->
    <style>
        /* NAVBAR CSS */
:root{
    --bg_color_light : rgba(50, 165, 184, 0.27);
    --bg_color : rgba(50, 165, 184)
}

body{
  font-family: 'Carrois Gothic', sans-serif;
}

.postRoom_form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

textarea{
    height: 150px;
}
textarea::placeholder{
    padding: 1rem;
}

/* select element style in the filter mode */

.select_tag_cover{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
  
  article {
    position: relative;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
  }
  
  article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    border-radius: 20px;
    padding: 3px 15px;
    outline: 2px solid black;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
  }
  
  article input {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .select_tag_cover input[type=checkbox] ~ div i:nth-child(2){
      display: none;
  }

  .select_tag_cover input[type=checkbox]:checked ~ div {
    background-color: #50bcf2;
  }
  .select_tag_cover input[type=checkbox]:checked ~ div i:nth-child(1) {
    display: none;
}
  .select_tag_cover input[type=checkbox]:checked ~ div i:nth-child(2) {
    display: inline;
}
    </style>
</head>
<body>
  <%- include("./partials/navbar.ejs") -%>
    <!-- banner section -->
    <h3 class="title text-center mt-5 mb-4"> UPLOAD ROOMATE SPACE</h3>

    <div class="container form_container">
        <form class="postRoom_form" >
            <div class="input-group mb-4">
                <label for="inputGroupFile01" class="d-block mb-2 w-100"> images of the room</label>
                <input type="file" class="form-control" id="inputGroupFile01" multiple accept="image/*" required>
              </div>
              <div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="price">price</label>
                    <input type="number" class="form-control " id="price" name="price" required>
                  </div>
              </div>
              <div class="input-group mb-4">
                <label for="inputGroupFile07" class="d-block mb-2 w-100"> Located around</label>
                <input type="text" class="form-control" id="inputGroupFile07" placeholder="just a place around there but far away" required>
              </div>
              <div class="input-group mb-4">
                <label for="inputGroupFile13" class="d-block mb-2 w-100"> how far from school</label>
                <input type="text" class="form-control" id="inputGroupFile13" placeholder="how many kilometers from school" required>
              </div>
              <div class="input-group pt-3">
                <div class="input-group mb-3">
                  <h3 class="mb-3 bg-secondary w-100 text-center text-white py-2"> Amenities</h3>
                  <div class="select_tag_cover">
                      <article class="feature1">
                        <input type="checkbox" id="feature1"/>
                        <div>
                          <i class="fa-solid fa-plus"></i>
                          <i class="fa-solid fa-check"></i>
                          <span class="ps-1">
                          running water
                          </span>
                        </div>
                      </article>
                
                      <article class="feature2">
                        <input type="checkbox" id="feature2"/>
                        <div>
                          <i class="fa-solid fa-plus"></i>
                          <i class="fa-solid fa-check"></i>
                          <span class="ps-1">
                           light
                          </span>
                        </div>
                      </article>
                      
                      <article class="feature3">
                        <input type="checkbox" id="feature3"/>
                        <div>
                          <i class="fa-solid fa-plus"></i>
                          <i class="fa-solid fa-check"></i>
                          <span class="ps-1">
                           solar
                          </span>
                        </div>
                      </article>
                      
                      <article class="feature4">
                        <input type="checkbox" id="feature4" />
                        <div>
                          <i class="fa-solid fa-plus"></i>
                          <i class="fa-solid fa-check"></i>
                          <span class="ps-1">
                            kitchen
                          </span>
                        </div>
                      </article>

                      <article class="feature5">
                          <input type="checkbox" id="feature5" />
                          <div>
                          <i class="fa-solid fa-plus"></i>
                          <i class="fa-solid fa-check"></i>
                            <span class="ps-1">
                              corridor
                            </span>
                          </div>
                        </article>

                        <article class="feature6">
                          <input type="checkbox" id="feature6"/>
                          <div>
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-check"></i>
                            <span class="ps-1">
                            well
                            </span>
                          </div>
                        </article>
                        <article class="featur07">
                          <input type="checkbox" id="featur07"/>
                          <div>
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-check"></i>
                            <span class="ps-1">
                              Prepaid-Meter
                            </span>
                          </div>
                        </article>
                        <article class="feature8">
                          <input type="checkbox" id="feature8"/>
                          <div>
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-check"></i>
                            <span class="ps-1">
                            Meter
                            </span>
                          </div>
                        </article>
                        
                        <article class="feature9">
                          <input type="checkbox" id="feature9"/>
                          <div>
                            <i class="fa-solid fa-plus"></i>
                            <i class="fa-solid fa-check"></i>
                            <span class="ps-1">
                            solar
                            </span>
                          </div>
                        </article>
                      <!-- give sectors part of the select element like the same name and filter  them into the right db space/prop -->
                    </div>
              </div>
              <div class="input-group mb-5">
                <label for="description" class="d-block mb-2"> Details</label>
                <textarea name="description"  class="d-block w-100 p-2" placeholder="leave details about the properties owned and needed" required></textarea>
              </div>
              <!-- add properties owned by roomate -->
              <!-- post character and the type of roomate in search of -->

              <!-- agen part of the form -->
              <h2 class="h3 text-center"> Agent's Details</h2>
              <div class="input-group mb-4">
                <label for="inputGroupFile10" class="d-block mb-2 w-100"> Lodge Name</label>
                <input type="numer" class="form-control" id="inputGroupFile10" required>
              </div> 
              <div class="input-group mb-4">
                <label for="inputGroupFile08" class="d-block mb-2 w-100"> Room Owner's name</label>
                <input type="text" class="form-control" id="inputGroupFile08" required>
              </div>
              <div class="input-group mb-4">
                <label for="inputGroupFile09" class="d-block mb-2 w-100"> Room owner's number</label>
                <input type="number" class="form-control" id="inputGroupFile09" required>
              </div>
              <div class="input-group mb-4">
                <label for="inputGroupFile08" class="d-block mb-2 w-100"> Lodge full location</label>
                <textarea name="location"  class="d-block w-100 p-2" placeholder="describe location from ifite school gate" required></textarea>
              </div>
              <!-- all this admin section should have like bem format with admin__ on the name -->
              <button type="submit" class="btn btn-outline-info mx-auto d-block"> Post</button>
        </form>
    </div>
  </div>
  <%- include("./partials/footer.ejs") -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var gb ;
      document.getElementById("inputGroupFile01").addEventListener("change", function(event){
        console.log(event)
          if(event.target.files.length < 3 || event.target.files.length >5){
            alert("images of the room should be between 3 and 5, remember not to upload images that can be used to recognize the lodge here")
            document.getElementById("inputGroupFile01").value = ""
          }
      })

    </script>
</body>
</html>