* {
    box-sizing: border-box;
    transition: 0.25s ease-in-out;
  }
  
  /* font for banner_caption */
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root{
    --bg_color_light : rgba(50, 165, 184, 0.27);
    --bg_color : rgba(50, 165, 184)
}
  body{
    background-color: var(--bg_color_light) ;
    font-family: 'Carrois Gothic', sans-serif;
}


/* banner caption */

.banner_caption{
    top: 14%;
    font-size: 5vw;
    color: white;
    font-family: 'Anton', sans-serif;
    letter-spacing: .04em;
    padding-left: 2%;
}
.banner_caption p {
    text-shadow: #000 .2em .25em .15em;

}

.banner .button_cover {
    bottom: 6vw;
    right: 2vw;
}
.advert{
    background-color: var(--bg_color);
}
.advert_post{
    max-width: 400px;
    margin:0 auto ;
    background-color: white;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: xx-large;
}

.search_section{
    background-color: var(--bg_color);
}
.btn-outline-white{
    color: white;
    border-color: white;
}

@media screen and (min-width:700px){
  .banner .button_cover{
      right: 8vw;
   }
   .banner button{
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
   }
}

/* select element style in the filter mode */

.select_tag_cover{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
  
  article {
    position: relative;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
  }
  
  article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    border-radius: 20px;
    padding: 3px 15px;
    outline: 2px solid black;
    -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
  }
  
  article input {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .select_tag_cover input[type=checkbox] ~ div i:nth-child(2){
      display: none;
  }

  .select_tag_cover input[type=checkbox]:checked ~ div {
    background-color: #50bcf2;
  }
  .select_tag_cover input[type=checkbox]:checked ~ div i:nth-child(1) {
    display: none;
}
  .select_tag_cover input[type=checkbox]:checked ~ div i:nth-child(2) {
    display: inline;
}
  
/* CARD SECTION */


.card:hover ::after{
    content: " ";
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    cursor: pointer;
}

